<head>
    <style>
        div.bar {
            display: inline-block;
            width: 100px;
            height: 200px;
            background-color: black;
            margin-left: 10px;
            margin-righ: 10px;
        }
    </style>
</head>
<div class="bar"></div>
<div class="bar"></div>
