<head>
    <style>
        div.bar {
            display: inline-block;
            width: 100px;
            height: 200px;
            background-color: black;
        }
    </style>
</head>
<div class="bar"></div>