<head>
    <!DOCTYPE html>
    <title>NationBuilder Shaker</title>

    <style>
        div.bar {
            display: inline-block;
            width: 100px;
            height: 0px;
            background-color: #6ab9d2;
            margin-left: 10px;
            margin-righ: 10px;
        }
    </style>

    <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
      // Enable pusher logging - don't include this in production
      Pusher.log = function(message) {
          if (window.console && window.console.log) {
              window.console.log(message);
          }
      };

      var id = null;
      var pusher = new Pusher('2e26a91c1f302424fac6');
      var channel = pusher.subscribe('nbshaker_channel');
      channel.bind('score_updated_event', function(data) {
          if (data.message.lastIndexOf("Winner is:", 0) === 0) {
              $('#winner').text(data.message).show();
          } else {
              var playerScores = jQuery.parseJSON(data.message);
              id = playerScores.id;
              $('#player1').animate({height: playerScores.Lea});
              $('#player2').animate({height: playerScores.Jim});
          }
      });
      channel.bind('game_status_event', function(data) {
          var gamestatus = jQuery.parseJSON(data.message);
          id = gamestatus.id;
          if (gamestatus.status  == 'waiting') {
          $('#game').text("Waiting for other player")
          ;}
          else {
          $('#game').text("Game: " + id);}
          })

      function decay() {
          if (id != null) {
              $.post('/api/decay', {id: id});
          }
          setTimeout(decay, 5000);
      }

      $.ajaxSetup({
          headers: {
              'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
          }
      });
      decay();
    </script>
</head>

<h1 id='game'>NationBuilder Shaker</h1>
<div style="position:absolute;left:50%;top:50%">
  <div class="bar" id='player1'></div>
  <div class="bar" id='player2'></div>
</div>
<div id="winner" style="display: none;"></div>
