<head>
    <!DOCTYPE html>
    <title>NationBuilder Shaker</title>

    <style>
        div.bar {
            display: inline-block;
            width: 100px;
            height: 0px;
            background-color: black;
            margin-left: 10px;
            margin-righ: 10px;
        }
    </style>

    <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
      // Enable pusher logging - don't include this in production
      Pusher.log = function(message) {
          if (window.console && window.console.log) {
              window.console.log(message);
          }
      };

      var id = null;
      var pusher = new Pusher('2e26a91c1f302424fac6');
      var channel = pusher.subscribe('nbshaker_channel');
      channel.bind('score_updated_event', function(data) {
          if (data.message.lastIndexOf("Winner is:", 0) === 0) {
              $('#winner').text(data.message).show();
          } else {
              var playerScores = jQuery.parseJSON(data.message);
              id = playerScores.id;
              console.log(id);
              $('#player1').height(playerScores.Lea);
              $('#player2').height(playerScores.Jim);
          }
      });

      function decay() {
          if (id != null) {
              $.post('/api/decay', {id: id});
          }
          setTimeout(decay, 500);
      }

      $.ajaxSetup({
          headers: {
              'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
          }
      });
      decay();
    </script>
</head>

<div class="bar" id='player1'></div>
<div class="bar" id='player2'></div>
<div id="winner" style="display: none;"></div>
